.fullimage {    
    height: 56vw;
}
.bggrey {
    background-color: #e2e2e2;
}
.fab{
    width:$fab-mini-size;

}
ion-slide.swiper-slide{
left:5%;
width:50% !important;
}
.thumb-img{
    padding:10px;
    height:20px;
    width:30px;
}